<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="skip-container">
    <a href="#main_title">Skip to Content</a>
  </div>
  <header class="header">
    <h1 class="company_name">Tasty Resto</h1>
    <button id="hamburger" class="hamburger">☰</button>
    <nav class="nav">
      <ul id="nav_list" class="nav_list">
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li>
          <a href="https://www.linkedin.com/in/maharta-pamuji/">About Us</a>
        </li>
      </ul>
    </nav>
  </header>
 
  <main id="mainContent" class="main_detail">
     <article class="restaurant_detail_container card">
       <div class="restaurant_detail">
        <figure><img src="https://restaurant-api.dicoding.dev/images/medium/14" alt="Gambar dari restoran yang bernama Melting Pot">
          <figcaption class="restaurant_name">Melting Pot</figcaption>
        </figure>
         <p class="resto_attributes">Kota : Medan</p>
         <p class="resto_attributes">Alamat: Jalan Uluwatu II Gang Mawar 30</p>
         <p class="resto_attributes">Rating: 4.0</p>
         <hr>
         <p class="resto_description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam id similique, nam ullam sed quia necessitatibus nostrum a neque, totam quam vel suscipit. Recusandae animi doloremque, harum blanditiis adipisci quis!</p>
       </div>
     </article>
  </main>
  <footer class="footer">
    <a href="https://github.com/Maharta/Best-Resto">Website by @Maharta</p>
  </footer>
</body>
</html>