<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps Starter Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="skip-container">
      <a href="#main_title">Skip to Content</a>
    </div>
    <header class="header">
      <h1 class="company_name">Tasty Resto</h1>
      <button class="hamburger">☰</button>
      <nav class="nav">
        <ul class="nav_list">
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li>
            <a href="https://www.linkedin.com/in/maharta-pamuji/">About Us</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="jumbotron">
      <img class="hero_img" src="./images/heros/hero-image_2.jpg" alt="Meja makan dengan berbagai makanan lezat" />
      <h1>Temukan Restaurant Terbaik Hanya di Sini</h1>
    </div>
    <main>
      <div class="modal" id="modal">
        <div class="modal_header">
          <img class="modal_image" />
          <button data-close-button class="close-button">&times;</button>
        </div>
        <div class="modal_body">
          <h3 class="modal_title"></h3>
          <p class="modal_city"></p>
          <p class="modal_rating"></p>
          <p class="modal_description"></p>
        </div>
      </div>
      <div id="overlay"></div>
      <h2 id="main_title" class="main_title">Restaurant List</h2>
      <section class="restaurant_list">
        <article class="restaurant_item first"></article>
        <article class="restaurant_item"></article>
        <article class="restaurant_item"></article>
        <article class="restaurant_item"></article>
        <article class="restaurant_item"></article>
        <article class="restaurant_item"></article>
        <article class="restaurant_item"></article>
        <article class="restaurant_item"></article>
        <article class="restaurant_item"></article>
      </section>
    </main>
    <footer class="footer">
      <a href="https://github.com/Maharta/Best-Resto">Website by @Maharta</p>
    </footer>
  </body>
</html>
