@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600;1,700&family=Square+Peg&display=swap");
* {
  box-sizing: border-box;
}

@import "./detail.css";

html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.skip-container {
  position: absolute;
  top: 0;
  left: 0;
}

.skip-container > a {
  opacity: 0;
  text-decoration: none;
  color: white;
}

.skip-container > a:focus {
  opacity: 1;
}

/*
 * Header
 *
*/

.header {
  color: white;
  background-color: darkslategray;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.company_name {
  font-family: "Square Peg", cursive;
  padding-top: 1rem;
  margin-top: 0;
  text-align: center;
  font-size: 3.5rem;
}

.hamburger {
  color: white;
  font-size: x-large;
  display: block;
  background: none;
  outline: none;
  border: none;
  min-width: 44px;
  min-height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.hamburger:hover {
  background-color: #8298ff;
  border-radius: 1rem;
}
.hamburger:focus {
  background-color: #8380ff;
  border-radius: 1rem;
}

.nav_list {
  z-index: 1;
  position: absolute;
  padding: 0;
  list-style-type: none;
  left: -200px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 0;
}

.nav_list > li {
  min-width: 8em;
}

.nav_list > li:hover {
  font-weight: 700;
}

.nav_list > li:focus {
  outline: 2px solid lightcoral;
}

.nav_list.show {
  transform: translate(200px);
}

ul {
  list-style-type: disc;
}

.nav_list a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: large;
  padding: 0.7rem 0.2rem;
}

.nav_list a:hover {
  transition: 0.5s;
  font-weight: bolder;
  color: #88dae2;
}

/* 
 *
 * Jumbotron
 *
*/

.jumbotron {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero_img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.jumbotron > h1 {
  position: absolute;
  color: white;
  padding: 0 2.5rem 0 2.5rem;
  font-style: italic;
  font-weight: 650;
}

/* 
 *
 * main
 *
*/

.main_title {
  border-radius: 0.7rem;
  width: 15rem;
  padding: 1.2rem 0.7rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.restaurant_list {
  font-family: serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 350px));
  row-gap: 1em;
  justify-content: center;
  column-gap: 0.7em;
}

figure {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.restaurant_name {
  position: absolute;
  font-size: 1.5rem;
  font-style: italic;
  padding: 1rem 0.5rem 1rem 0.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

.restaurant_item {
  position: relative;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 20em;
  overflow-x: hidden;
  overflow-y: hidden;
}

.detail_button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  border: none;
  outline: none;
  font-size: x-small;
  background: none;
  background-image: linear-gradient(#8671ff, #8380ff, #8298ff, #8aa1ff);
  border-radius: 1rem;
  min-width: 44px;
  min-height: 44px;
  color: white;
  font-weight: bolder;
}

.detail_button:hover,
.detail_button:focus {
  background-image: none;
  background-color: #002ead;
  transition: 0.7s;
}

.restaurant_item.first {
  grid-column-start: 1;
  grid-column-end: 3;
}

.restaurant_item.first .detail_button {
  padding: 0.5rem 0.7rem;
  font-size: small;
}

.restaurant_item.first .restaurant_name {
  top: 50%;
  left: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.restaurant_item .restaurant_name {
  bottom: 0;
}

.restaurant_item.first .item_image {
  aspect-ratio: 4/3;
  width: 100%;
}

.item_image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

/* 
 *
 * footer
 *
*/

.footer {
  display: flex;
  background-color: darkslategray;
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer > a {
  color: white;
  text-decoration: none;
  padding-top: 1rem;
}

.footer > a:hover {
  font-weight: 800;
}
